<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Web and IT Solutions You Need. Made Simple.</h1>
            <hr class="special">
            <p>DevStack Solutions can handle all your personal or small business needs!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">DevStack's team of highly qualified IT experts has what it takes to get the job done quickly and professionally!
                </p>

                <a href="mailto:your-email@your-domain.com" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Web Development</h3>
                    <p class="text-muted">Our web development team specializes in Ruby on Rails to bring your apps to life while ensuring fast turn around times. Faster turn around times, means more individual attention!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>In-Home Repair</h3>
                    <p class="text-muted">PC running slow?! Have one of our certified Desktop Support technicians out to assess and repair.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Consulting</h3>
                    <p class="text-muted">Need help setting up your small business? Schedule a meeting with our Business Deployment consultants.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">Each team member is passionate about what they do. Attention to detail and customer satisfaction are our #1 concerns!</p>
                </div>
            </div>
        </div>
        <%= link_to "Services", services_path, class: "btn btn-special btn-xl wow tada" %>
    </div>
</section>

<section id="portfolio" class="no-padding">
    <div class="container-fluid text-center">
        <h2>Portfolio</h2>
        <hr class="primary">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://delucart.herokuapp.com/" target="_blank" class="portfolio-box">
                    <img src="http://c1.staticflickr.com/1/342/19363469504_215cecb541_h.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Website
                            </div>
                            <div class="project-name">
                                Decluca Art Gallery
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://c1.staticflickr.com/1/302/20069240465_e465dc5eef_h.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Website
                            </div>
                            <div class="project-name">
                                LoL Team Tracker
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://c1.staticflickr.com/1/514/19799408719_f1762dbc6f_h.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Website
                            </div>
                            <div class="project-name">
                                Devstack LLC
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://images.dailytech.com/nimage/internet_cables_bokeh_wide.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Setup Small Network
                            </div>
                            <div class="project-name">
                                Experior Electric
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://americanhairlinesnj.herokuapp.com/" target="_blank" class="portfolio-box">
                    <img src="http://c1.staticflickr.com/1/386/20209160011_1b75c882ec_b.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Website/Camera system
                            </div>
                            <div class="project-name">
                                American Hair Lines
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://www.dpaddbags.com/blog/wp-content/uploads/2012/12/journey2-650x350.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Your Project
                            </div>
                            <div class="project-name">
                                Company Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- comes from pages/_team -->
<section id="team">
    <div class="container-fluid">
    <%= render 'pages/team' %>
</div>
</section>

<section id="contact">
    <aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p><a href="tel://1-555-555-5555">(555) 555-5555</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">feedback@fsociety.com</a></p>
            </div>
        </div>
    </div>
    </aside>
</section>