<div class="jumbotron jumbotron-special">
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center"> 
            <h1 class="section-heading">Devstack</h1>
            <h2> At your service </h2>
            <hr class="primary">
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="service-box">
                <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                <h3>Web Development</h3>
                <p class="text-muted">Our web development team specializes in Ruby on Rails to bring your apps to life while ensuring fast turn around times. Faster turn around times, means more ndividual attention!</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-box">
                <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                <h3>In-Home Repair</h3>
                <p class="text-muted">PC running slow?! Have one of our certified Desktop Support technicians out to assess and repair.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-box">
                <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                <h3>Consulting</h3>
                <p class="text-muted">Need help setting up your small business? Schedule a meeting with our Business Deployment consultants.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-box">
                <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                <h3>Made with Love</h3>
                <p class="text-muted">Each team member is passionate about what they do. Attention to detail and customer satisfaction are our #1 concerns!</p>
            </div>
        </div>
    </div>
</div>

 <section id="services-detailed">
        <div class="container well">
          <h2>Web Services</h2>
          <p>Below are some of our common web services with general price guidelines</p>            
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Website Services</th>
                <th>Prices</th>
                <th>Website Services</th>
                <th>Prices</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Website Creation</td>
                <td>$1,000 and up depending on service agreement</td>
                <td>Website Creation</td>
                <td>$1,000</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary</td>
                <td>john</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july</td>
                <td>john</td>
              </tr>
            </tbody>
          </table>

    
          <h2>IT Services</h2>
          <p>Below are some of our common IT services with general price guidelines</p>            
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>IT Services</th>
                <th>Prices</th>
                <th>IT Services</th>
                <th>Prices</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>PC Cleanup</td>
                <td>$49</td>
                <td>Website Creation</td>
                <td>$1,000 and up depending on contract agreement</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary</td>
                <td>john</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july</td>
                <td>john</td>
              </tr>
            </tbody>
          </table>
        </div>
    </section>


